body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffffea;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 14px;
}

small {
  color: #999;
}

.btn {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-success {
  background-color: #2b7cb5;
  color: #fff;
}

.btn-success:hover {
  background-color: #4aacb3;
}

.btn-warning {
  background-color: #119079;
  color: #fff;
}

.btn-warning:hover {
  background-color: #1fa977;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-secondary {
  background-color: #000000;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f9f9f9;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.table td {
  font-size: 14px;
  color: #555;
}

.table tbody tr:hover {
  background-color: #f5f5f5;
}

/* Estilos responsivos */
@media only screen and (max-width: 764px) {
  .container {
    padding: 20px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  input[type="text"],
  input[type="number"] {
    padding: 8px;
    font-size: 12px;
  }

  .btn {
    padding: 8px 15px;
    font-size: 12px;
  }

  .table th,
  .table td {
    padding: 6px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    padding: 15px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  input[type="text"],
  input[type="number"] {
    padding: 8px;
    font-size: 12px;
  }

  .btn {
    padding: 8px 15px;
    font-size: 12px;
  }

  .table th,
  .table td {
    padding: 6px;
    font-size: 12px;
  }
}
.labell {
  margin-top: 50px;
}
h2 {
  text-align: center;
}
.btnsexo {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btnsexo:focus {
  outline: 0;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.labell {
  margin-bottom: 10px;
}

input.form-control,
select.btnsexo {
  margin-top: 2px;
  margin-bottom: 5px;
}
